@model ScooterBookingWebApp.Models.BookedScooter
@{
    ViewBag.Title = "ScooterAlreadyBooked";
}

<h2>Scooter is already booked !

    Time rented: @Model.TimeRented, Time to be returned: @Model.TimeReturned

    Location to be returned: @Model.ReturnPlace</h2>