@{
    ViewBag.Title = "About";
}
<head>
    <style type="text/css">
        #contentMargin {
            margin-top: 20px;
            background-color: #000;
            color: #ffffff;
        }
        .green {
            color: #00FF00;
        }
        h3:hover{
            color:green;
        }
    </style>
</head>
<body id="contentMargin">
    <h2 class="green">@ViewBag.Title</h2>
    <div>
        <h3 class="text-center green">No Harmful Effect On The Planet</h3>
        <p>The most important for our planet is the fact that those vehicles are eco-friendly. That is important for us as well. We have to take care of the Earth, and there are a lot of things we can do.</p>
        <p>Riding one of these is one of the most entertaining ways ever to save the planet. I am sure you will agree with me.</p>
        <p>I appreciate the fact that this provides us so much fun and at the same time we don’t pollute the air. We were not born yesterday, and we know that electricity has to be clean to avoid further pollution. Not from coal, you know what I mean.</p>
        <p>
            CLEAN ELECTRICITY is a power that is produced by wind, water, or sun energy.

            Either way, we don’t pollute locally, and if that electricity is clean, then we don’t pollute at all.

            A win-win situation if you ask me.
        </p>
    </div>
    <div>
        <h3 class="text-center green">Training And License Aren’t Needed</h3>
        <p>Things you consider before buying some other vehicles do not apply there. Electric scooters require no special skills or long-time training. It’s so simple that everyone can learn to ride it in no time.</p>
        <p>For these ones from the list you don’t need the license, and you can use it wherever you want as far as it safe enough.</p>
        <p>If you have a powerful electric motorcycle, you aren’t so lucky. You need a license.</p>
    </div>
    <div>
        <h3 class="text-center green">One Of The Alternative Ways Of Transportation</h3>
        <p>Yes, we can realize that these scooters are the best alternative way of transportation. Use it once, and you will never regret it.</p>
        <p>Choose the right one, and your car will be there just in case of bad weather or some big weight transportation.</p>
        <p>You will start to think differently and organize your life, so you don’t need your car at all or in worst case several times a month.</p>
    </div>
    <p>Use this area to provide additional information.</p>
</body>